body{
    color: white;
    background: red;
    margin: 0px;
    font-family: "bungee", sans-serif;
}

header{
    border-bottom: solid 2px rgb(218, 235, 158);
    padding: 20px;
    font-size: 32px;
    color: black;
}

.chamada{
    background: blue;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}